@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap');

* {
    box-sizing: border-box;
}
.showmobile{
    display: none;
    text-decoration-line: underline;
    color: #ffffff;
    padding-top: 10px;
}
.mobilearrow{
    display: none;
    color: #ffffff;
}
img:hover {
    opacity: 0.9;
}

.left {
    position: fixed;
    margin-top: 108px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right2 {
    float: right;
    animation: image 3s ease;
}

.right2 img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1.1;
    border-radius: 20px;
}

.projectimg {
    margin-top: 188px;
}

.projecttitle {
    text-align: left;
    margin-top: 32px;
    margin-bottom: 12px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #D4D4D4;
}

.projectdesc {
    text-align: left;
    color: #848484;
}

.carousel-inner {
    border-radius: 20px;
}

body {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #0F0F0F;
    font-family: Inter;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    max-width: 100%;
}

.emphasis {
    color: #FFFFFF;
}

.projectemphasis {
    font-weight: 500;
    color: #c5c5c5;
}


#bigname {
    font-family: Inter;
    font-weight: 800;
    color: #FFFFFF;
    line-height: 100%;
    letter-spacing: -5px;
    animation: anim 2s ease;
}

@keyframes image {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes anim {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes animlinks {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
    }
}

#wrapper {
    height: 100vh;
}

#desc {
    width: auto;
    font-weight: 400;
    letter-spacing: -0.9px;
    line-height: 1.6em;
    color: #848484;
    margin-top: 20px;
    margin-bottom: 108px;
    animation: anim 3s ease;
}

.sociallinks {
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #FFFFFF;
    border-top: 1px solid #848484;
    display: flex;
    align-items: center;
    gap: 32px;
    opacity: 0;
    animation: animlinks 1s ease;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

a {
    text-decoration: none;
}

.sociallinks:hover {
    background-color: #1E1E1E;
}

@media (max-width: 390px) {
    .mobilearrow{
        display: inline;
    }
    .showmobile{
        display: inline-block;
    }
    #wrapper {
        width: 90%;
        margin: auto;
    }

    .right2 img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1.5;
        border-radius: 20px;
    }

    .right2 {
        padding-bottom: 108px;
    }

    .sociallinks {
        animation-delay: 1s;
    }

    .projectheading {
        font-size: 28px;
        display: flex;
        margin-top: 64px;
        margin-bottom: 46px;
        color: #848484;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 5px;
    }

    .projecttitle {
        text-align: left;
        margin-top: 32px;
        margin-bottom: 12px;
        font-size: 28px;
        letter-spacing: 2px;
        color: #D4D4D4;
    }

    .projectdesc {
        text-align: left;
        color: #848484;
        font-size: 20px;
        line-height: 32px;
    }

    .left {
        height: auto;
        position: relative;
        margin-top: 64px;
        display: block;
    }

    .hidemobile {
        display: none;
    }

    #bigname {
        font-size: 48px;
        letter-spacing: -2px;
    }

    #links {
        text-align: center;
        align-self: stretch;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    #links div {
        display: inline-block;
        width: 30%;
    }

    .sociallinks {
        text-align: center;
        border: 0px;
    }

    .sociallinks span {
        display: none;
    }

    .sociallinks img {
        width: 30%;
        height: 30%;
    }

    #desc {
        font-size: 20px;
        align-self: stretch;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .projectimg {
        margin-top: 108px;
    }
}

@media (min-width: 391px) and (max-width: 767px) {
    .mobilearrow{
        display: inline;
    }
    .showmobile{
        display: inline-block;
    }
    
    #wrapper {
        width: 90%;
        margin: auto;
    }

    .right2 img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1.5;
        border-radius: 20px;
    }

    .right2 {
        padding-bottom: 108px;
    }

    .sociallinks {
        animation-delay: 1s;
    }

    .projectheading {
        font-size: 42px;
        display: flex;
        margin-top: 80px;
        margin-bottom: 46px;
        color: #848484;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 5px;
    }

    .projecttitle {
        text-align: left;
        margin-top: 32px;
        margin-bottom: 12px;
        font-size: 36px;
        letter-spacing: 2px;
        color: #D4D4D4;
    }

    .projectdesc {
        text-align: left;
        color: #848484;
        font-size: 22px;
        line-height: 32px;
    }

    .left {
        height: auto;
        position: relative;
        margin-top: 64px;
        display: block;
    }

    .hidemobile {
        display: none;
    }

    #bigname {
        font-size: 64px;
        letter-spacing: -2px;
    }

    #links {
        text-align: center;
        align-self: stretch;
        margin-bottom: 4em;
        margin-top: 6em;
    }

    #links div {
        display: inline-block;
        width: 30%;
    }

    .sociallinks {
        text-align: center;
        border: 0px;
    }

    .sociallinks span {
        display: none;
    }

    .sociallinks img {
        width: 30%;
        height: 30%;
    }

    #desc {
        font-size: 20px;
        align-self: stretch;
        margin-top: 40px;
        margin-bottom: 40px;
    }

}



@media (min-width: 768px) and (max-width: 1199px) {
    #wrapper {
        width: 90%;
        margin: auto;
    }

    .right2 img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1.5;
        border-radius: 20px;
    }

    .right2 {
        padding-bottom: 108px;
    }

    .sociallinks {
        animation-delay: 1s;
    }

    .projectheading {
        font-size: 42px;
        display: flex;
        margin-top: 80px;
        margin-bottom: 46px;
        color: #848484;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 5px;
    }

    .projecttitle {
        text-align: left;
        margin-top: 32px;
        margin-bottom: 12px;
        font-size: 48px;
        letter-spacing: 2px;
        color: #D4D4D4;
    }

    .projectdesc {
        text-align: left;
        color: #848484;
        font-size: 30px;
        line-height: 1.7em;
    }

    .left {
        height: auto;
        position: relative;
        margin-top: 108px;
        display: block;
    }

    .hidemobile {
        display: none;
    }

    #bigname {
        font-size: 64px;
        letter-spacing: -2px;
    }

    #links {
        text-align: center;
        align-self: stretch;
        margin-bottom: 8em;
        margin-top: 6em;
    }

    #links div {
        display: inline-block;
        width: 30%;
    }

    .sociallinks {
        text-align: center;
        border: 0px;
    }

    .sociallinks span {
        display: none;
    }

    .sociallinks img {
        width: 30%;
        height: 30%;
    }

    #desc {
        font-size: 32px;
        align-self: stretch;
        margin-top: 40px;
        margin-bottom: 40px;
    }

}

@media (min-width: 1200px) {
    #bigname {
        font-size: 64px;
        letter-spacing: -2px;
    }

    #wrapper {
        margin-left: 80px;
    }

    #desc {
        font-size: 20px;
    }

    .left {
        width: 37%;
    }

    div #links {
        padding-right: 72px;
    }

    .right2 {
        padding-top: 108px;
        padding-bottom: 108px;
        text-align: center;
        width: 62%;
    }

    .caption {
        font-size: 1em;
        color: #656565;
    }

    .project {
        width: 63%;
        display: inline-block;
    }

    .projectheading {
        display: flex;
        margin-top: 80px;
        margin-bottom: 46px;
        color: #848484;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 5px;
    }
}

@media (min-width: 1400px) {
    #bigname {
        font-size: 72px;
        letter-spacing: -2px;
    }

    #wrapper {
        margin-left: 80px;
    }

    #desc {
        font-size: 24px;
        line-height: 46px;
    }

    .left {
        width: 37%;
    }

    .right {
        display: none;
        flex: 2;
    }

    div #links {
        padding-right: 72px;
    }

    .right2 {
        padding-top: 108px;
        padding-bottom: 108px;
        text-align: center;
        width: 62%;
    }

    .caption {
        font-size: 1em;
        color: #656565;
    }

    .project {
        width: 63%;
        display: inline-block;
    }

    .projectheading {
        display: flex;
        margin-top: 80px;
        margin-bottom: 46px;
        color: #848484;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 5px;
    }
}