
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
* {
    box-sizing: border-box;
}

.carousel-inner{
    border-radius: 20px;
}
body{
    background-color: #0F0F0F;
    font-family: Inter;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    max-width: 100%;
}
.emphasis{
    color: #FFFFFF;
}
.right img{
    max-width: 100%;
    object-fit: cover; 
    animation: image 2s ease;
}
#bigname{
    font-family: Inter;
    font-weight: 800;
    color: #FFFFFF;
    line-height: 100%;
    letter-spacing: -5px;
    animation: anim 2s ease;
}
@keyframes image {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes anim{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
    }
}
@keyframes animlinks{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
    }
}
#wrapper{
    display: flex;
    gap: 20px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#desc{
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.6em;
    width: 522px;
    color: #848484;
    margin-top: 20px;
    margin-bottom: 108px;
    animation: anim 3s ease;
}
.sociallinks{
    color: #FFFFFF;
    border-top: 1px solid #848484;
    display: flex;
    align-items: center;
    gap: 32px;
    opacity: 0;
    animation: animlinks 1s ease;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
a{
    text-decoration: none;
}
.sociallinks:hover{
    background-color: #1E1E1E;
}

@media (max-width: 767px) {
    #wrapper{
        flex-direction: column-reverse;
        justify-content: center;
        width: 95%;
        margin: auto;
    }
    .right{
        width: 100%;
    }
    .left{
        width: 100%;
        margin-left: 40px;
    }
    #bigname{
        font-size: 5em;
        letter-spacing: -2px;
    }
    #links{
        text-align: center;
        align-self: stretch;
    }
    #links div{
        display: inline-block;
        width: 30%;
    }
    .sociallinks{
        text-align: center;
        border: 0px;
    }
    .sociallinks span{
        display: none;
    }
    .sociallinks img{
        width: 50%;
        height: 50%;
    }
    #desc{
        font-size: 1.5em;
        width: auto;
        align-self: stretch;
    }
    .right img{
        height: 500px;
    }
}



@media (min-width: 768px) and (max-width: 1199px){
    #wrapper{
        flex-direction: column-reverse;
        justify-content: center;
        width: 95%;
        margin: auto;
        height: 100vh;
    }
    .right{
        width: 100%;
    }
    .left{
        width: 100%;
        margin-left: 40px;
    }
    #bigname{
        font-size: 64px;
        letter-spacing: -2px;
    }
    #links{
        text-align: center;
        align-self: stretch;
    }
    #links div{
        display: inline-block;
        width: 30%;
    }
    .sociallinks{
        text-align: center;
        border: 0px;
    }
    .sociallinks span{
        display: none;
    }
    .sociallinks img{
        width: 30%;
        height: 30%;
    }
    #desc{
        font-size: 24px;
        width: auto;
        align-self: stretch;
    }
    .right img{
        height: 684px;
    }
}

@media (min-width: 1200px) {
    .right img{
        height: 524px;
    }
    #bigname{
        font-size: 64px;
        letter-spacing: -2px;
    }
    #wrapper{
        width: 1200px;
        margin: auto;
    }
    #desc{
        font-size: 20px;
    }
    .left{
        flex: 1;
    }
    .right{
        flex: 2;
    }
    .sociallinks{
        font-size: 18px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}